In [20]:
import pandas as pd
import json

In [21]:
!ls ../hotel_data/

2024-10-19-AccommodationItem.csv   2024-10-24-AccommodationItem.json
2024-10-19-RoomPriceItem.csv	   2024-10-25-AccommodationItem.json
2024-10-20-AccommodationItem.csv   2024-10-27-AccommodationItem.json
2024-10-20-RoomPriceItem.csv	   2024-10-27-RoomPriceItem.json
2024-10-22-AccommodationItem.csv   2024-10-28-AccommodationItem.json
2024-10-23-AccommodationItem.json  2024-10-28-RoomPriceItem.json
2024-10-23-RoomPriceItem.json	   url.json

In [22]:
from datetime import datetime
current_date = datetime.now()
# Read and parse the JSON file line by line
data = []
num_lines_error = 0
current_line = 0
with open(f"../hotel_data/2024-10-28-RoomPriceItem.json") as file:
    data = json.load(file)
pandas_data = pd.DataFrame(data)

In [23]:
pandas_data.head()

,accommodationId,checkin,checkout,roomId,roomName,price,beds,roomArea,discount,numGuests
0,11288858,2024-10-28,2024-10-29,1128885801,One-Bedroom Apartment,1200000,[1 double bed],36 m²,None,Max persons: 2
1,11334623,2024-10-28,2024-10-29,1133462301,Deluxe Double Room with Balcony,490000,[1 large double bed],24 m²,None,Max persons: 2
2,4212701,2024-10-28,2024-10-29,421270101,Apartment,1560000,[1 extra-large double bed],80 m²,None,Max persons: 2
3,9019779,2024-10-28,2024-10-29,901977904,Superior Double Room,516600,[1 large double bed],19 m²,30% off,Max persons: 2
4,9019779,2024-10-28,2024-10-29,901977905,Twin Room,516600,[2 single beds],19 m²,30% off,Max persons: 2

In [24]:
# count number of rooms
room_count = pandas_data['accommodationId'].nunique()
room_count

94

In [25]:
url = pd.read_json('../hotel_data/url.json')

In [26]:
# convert checkin and checkout to datetime
pandas_data['checkin'] = pd.to_datetime(pandas_data['checkin'])
pandas_data['checkout'] = pd.to_datetime(pandas_data['checkout'])
#min and max checkin 
min_checkin = pandas_data['checkin'].min()
max_checkin = pandas_data['checkin'].max()
print(f"Min checkin: {min_checkin}, Max checkin: {max_checkin}")
print(f"Time difference: {max_checkin - min_checkin}")

Min checkin: 2024-10-28 00:00:00, Max checkin: 2024-11-16 00:00:00
Time difference: 19 days 00:00:00

In [27]:
# List all time differences of each accommodation
time_diffs = []
for accom_id in pandas_data['accommodationId'].unique():
    accom_data = pandas_data[pandas_data['accommodationId'] == accom_id]
    min_checkin = accom_data['checkin'].min()
    max_checkin = accom_data['checkin'].max()
    time_diffs.append(max_checkin - min_checkin)
time_diffs

[Timedelta('19 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('17 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('17 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('3 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('19 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('18 days 00:00:00'),
 Timedelta('17 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('14 days 00:00:00'),
 Timedelta('12 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('5 days 00:00:00'),
 Timedelta('0 days 00:00:00')]

In [28]:
len(graphql)

NameError: name 'graphql' is not defined

In [ ]:
# get ["basicPropertyData"]["pageName"] from each item in each graphql
pageNames = []
for item in graphql:
    pageNames.append(item["basicPropertyData"]['pageName'])
# Remove duplicates
pageNames = list(set(pageNames))
len(pageNames)